* {
  all: unset;
}

.bar {
  background-color: #232634;
  color: #232634;
  font-family: DaddyTimeMono, Zen Maru Gothic;
  font-size: 10pt;
}

.workspace {
  background-color: #626880;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
  border-radius: 7px;
}

.tag_empty {
}

.tag_nonempty {
  background-color: #838ba7;
}

.tag_focused {
  background-color: #babbf1;
}

.tag_urgent {
  background-color: #ef9f76;
}

.info { 
  background-color: #626880;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 4px;
  padding: 4px;
  border-radius: 7px;
}

.status { 
  margin-right: 4px;
}
