:root {
    --tridactyl-font-family: sans-serif;
    --tridactyl-bg: #2e3440;
    --tridactyl-fg: #d8dee9;

    --tridactyl-header-font-size: 12pt;

    --tridactyl-of-fg: #2e3440;
    --tridactyl-of-bg: #8fbcbb;

    --tridactyl-hintspan-fg: #d8dee9;
    --tridactyl-hintspan-bg: #bf616a;

    --tridactyl-hint-active-fg: #eceff4;
    --tridactyl-hint-active-bg: #5e81ac;
    --tridactyl-hint-active-outline: 1px solid black;

    --tridactyl-hint-bg: #ebcb8b;
    --tridactyl-hint-outline: 1px solid black;

    --tridactyl-cmdl-font-size: 1.0rem;

    --tridactyl-border-radius: 4px;
}

:root #command-line-holder {
    order: 1;
}

:root #command-line-holder,
:root #tridactyl-input {
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    width: 96%;
    padding: 1rem;
}

:root #completions table {
    font-size: 10pt;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
    border: none !important;
    font-family: var(--tridactyl-font-family);
    order: 2;
    margin-top: 10px;
    border-radius: var(--tridactyl-border-radius);
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr .title {
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    filter: drop-shadow(0px 0px 20px #000000) !important;
    color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
}

:root .TridactylStatusIndicator {
    display: none !important;
}
